# Build and CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Googletest local build outputs
googletest/build/
googletest/**/CMakeFiles/
googletest/**/CMakeCache.txt
googletest/**/cmake_install.cmake
googletest/**/Makefile
googletest/**/lib/
googletest/**/bin/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.code-workspace


